* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}






.firstpage {
    background-color: rgb(138, 7, 161);
    /* border: 4px solid red; */
    /* align-items: center; */
}


.navbar {

    /* border: 3px solid; */
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    background-color: rgb(78, 35, 109);

}



.nav {

    display: flex;
    gap: 70px;
    list-style: none;
    align-items: center;
    color: white;
}

.bttn {
    color: white;
    background-color: orange;
    border-radius: 20px;
    width: 160px;
    height: 50px;

}

.bttn:hover {

    background-color: blueviolet;
}



/*  */



.pics {

    display: flex;
    justify-content: end;
    padding: 35px 60px;
}



.bg {

    display: flex;
    justify-content: space-between;
    /* border: 8px solid ; */
    /* height: fit-content; */
    /* width: fit-content; */
    /* align-items: center; */
    /* padding-bottom: 250px; */

}

.middle {

    padding: 100px 100px;
    margin: 30px;
    margin-bottom: 40px;


}


.head2>h1 {
    font-size: 80px;
    color: orange;
}



.middle>div>p {

    color: white;
}


.bttn-1>.A-1 {

    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: blueviolet;
}



.A-1:hover {
    color: blue;
    background-color: white;
}

.boy-girl {

    padding-right: 100px;

}

.boy-girl>div>img {

    /* position: relative; */
    bottom: 100px;
    right: 30px;


}

.img-rt {

    animation-name: img-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 1px solid;
    width: fit-content;
    height: fit-content;

}

@keyframes img-rotate {

    0% {
        rotate: 0%;

    }

    100% {
        rotate: 360deg;

    }

}

.img_rt {

    position: sticky;
    bottom: 150px;
    right: 00px;
    height: 100px;
}





/*2matha */



.alround-2 {

    /* border: 4px solid; */
    /* height: 900px; */
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 50px;
    padding-bottom: 50px;

}

.alround-2>.parent {

    text-align: center;

}



.boxs {

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;



}


.boxs>.box {

    border: 1px solid;
    border-radius: 2rem;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxs img {

    object-fit: contain;
    width: 200px;
    height: 80px;



}



.boxs h3 {

    color: rgb(157, 55, 157)
}

.View-2 {
    color: blue;
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 20px;


}

.View-2:hover {

    color: white;
    background-color: rgb(101, 56, 144);
    border-style: none;
}



.b_2 {

    width: 100px;
    height: 50px;
    border-radius: 20px;

}

.b_2:hover {
    color: white;
    background-color: rgb(101, 56, 144);
    border-style: none;

}



/* end */




/* 3matg */




.alround3 {


    /* border: 2px solid; */
    /* height: 900px; */
    /* width:fit-content; */
    background-color: rgb(230, 225, 225);
    padding-top: 100;
}



.parent3 {

    display: flex;




}

.child3 {
    /* border: 1px solid; */
    flex: 1;
}

.child3 h1 {
    color: rgb(138, 7, 161);


}

.img3 {

    flex: 1;
}

.btn-3 {

    color: rgb(138, 7, 161);
    width: 100;
    height: 40;
    border-radius: 15px;

}

.btn-3:hover {
    color: white;
    background-color: blue;
}


.third-box {
    flex: 1;
    display: flex;
    align-items: center;
}

.bxxx3 {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* border: 1px solid; */
    /* border-radius: 30; */


}


.bxs3 {


    border: 1px solid;
    border-radius: 15px;
    height: 100px;
    width: 200px;
    padding: 15px;

}

.bxxx3 h1 {

    color: rgb(138, 7, 161);
    font-size: 30px;
}




/* 4math */





.alround-4 {

    /* background-color: whitesmoke; */
    padding-top: 40px;
    padding-bottom: 40px;
}



.parent-4 {


    text-align: center;




}

.box-4 {

    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
    background-color: white;
    padding: 20px;


}

.b-4 {

    width: 430px;
    height: 350px;
    /* border: 1px solid; */
    border-radius: 30px;
    padding: 10px 10px;
}

.Bttn-4 {

    text-align: center;



}

.btn-4 {

    width: 110px;
    height: 50px;
    border-radius: 20px;
    color: blue;

}



/* 5matha */



.major-5 {

    background-color: rgb(92, 50, 131);
}


.parent-5 {

    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;


}



.left-5 {


    padding: 80px;
    padding-top: 60px;
    flex: 1;
    position: sticky;
    top: 70px;
    height: fit-content;
    color: white;
    /* border: 1px solid; */

}



.right-5 {

    /* border: 1px solid; */
    color: white;
    margin-right: 200;
    padding-top: 50px;

}

.left-5>h3 {

    font-size: 25;
}


.left-5>p {

    font-size: 18px;
}

.right-5>.rt-1 {

    padding-bottom: 40px;
}

.rt-2 {

    padding-left: 200px;
}

.rt-4 {

    padding-left: 200px;
}

.right-5>img {

    padding-left: 90px;
}


/* end */


/* 6 */


.alround-6 {

    padding-top: 50px;
    padding-bottom: 50px;


}


.main-6 {


    text-align: center;

}

.main-6>h1 {

    color: blueviolet;
}

.main-6>p {

    font-size: 20px;
}


.cont-6 {

    /* border: 1px solid; */
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    padding: ;


}

.bx-6 {

    /* border:  1px solid; */
    height: 70px;
    width: 200px;
    align-items: center;
    padding-bottom: 20px;

}




.b-6 {

    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 17;

}

.b-6:hover {

    color: white;
    background-color: blueviolet;
}


/* 7matha */



.major-7 {

    background-color: rgb(92, 26, 155);
    border: 1px solid;
    padding-bottom: 100;
    padding-top: 50px;
    padding-bottom: 50px;


}


.main-7 {

    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;

}




.pics-7 {

    display: flex;
    justify-content: center;
    gap: 110px;


}

.det-7 {

    display: flex;
    justify-content: center;
    gap: 40px;


}

.detls-7 {

    width: 250px;
    height: 100px;
    background-color: white;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;

}

.detls-7>h1 {

    font-size: 18px;
    color: blueviolet;
}

.detls-7>h2 {

    font-size: 16px;

}

.detls-7>h3 {

    font-size: 13px;

}


.child-7 {

    /* border: 1px solid; */
    padding-top: 30px;
}

.parent-7>h1 {

    font-size: 30px;


}




/* 8 */

.round-8 {

    padding-top: 150px;
}

.bord-8 {
    border-radius: 30px;
    display: flex;
    justify-content: center;

}

.img-8 {

    background-color: rgb(69, 7, 126);
    background-image: url('https://thefuturalabs.com/wp-content/themes/Netstager_Creative_Suite-3.0/images/bg04.svg' );
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1300px;
    height: 210px;
    width: 1300px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 500px;
    

}

.dtl-8>h1{

    color: white;
    font-size: 28px;


}

.dtl-8>h3{

    color: white;
    font-size: 15px;
}

.dtl-8{

    /* border: 1px solid yellow; */
    width: 900px;
    margin: 30px 30px;

}


.im-88{

    position: relative;
    bottom: 100px;
   

}

.bt-8{

    color: blueviolet;
    border-radius: 10px;
    height: 45px;
    width: 200px;
    border-style: none;


}

.bt-8:hover{

    color: white;
    background-color: blueviolet;
}


/* 9mathaa */



.page-9 {

    padding-top: 100;
    padding-bottom: 100px;

}


.cont-9 {

    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    /* background-color: whitesmoke; */
}

.bx-9 {

    width: 1350px;
    height: 900;
    background-color: whitesmoke;
    /* border: 1px solid; */
    padding-top: 70px;

}

.parnt-9 {

    display: flex;
    justify-content: center;
    gap: 350px;
    /* padding-top: 5opx; */

}

.str_9 {

    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    flex: 1;


}


.strs_9 {

    width: 350px;
    height: 350px;
    background: white;
    /* border: 1px solid; */
    padding-left: 30px;
    padding-top: 30px;

}

.b-9 {

    text-align: center;
    padding: 110px;


}

.va-9 {

    width: 110px;
    height: 40px;
    font-size: 19px;
    border-radius: 15px;
    color: blue;

}

.va-9:hover {

    color: white;
    background-color: blueviolet;
    border-style: none;
}

/* end */




          /* 10 */


.page-10 {

    background-color: rgb(60, 7, 109);
    padding-top: 50px;
    padding-bottom: 50px;
}

.parent-10 {

    display: flex;
    /* justify-content: center; */
    gap: 60px;
}

.girl-10 {

    /* border: 2px solid ; */
    padding-left: 140px;
}

.enq-10 {

    /* border: 1px solid; */
    color: white;
}

.blk-10 {

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 50px;



}


.blks-10 {

    background-color: rgb(90, 46, 131);
    height: 50px;
    width: 350px;
    border: 1px solid;
    text-align: center;
    padding-top: 15px;


}



.blks-10-11 {
    background-color: rgb(90, 46, 131);
    height: 50px;
    width: 350px;
    border: 1px solid;
    


}

.blks-10-12 {
    background-color: rgb(90, 46, 131);
    height: 50px;
    width: 350px;
    border: 1px solid;
    


}
.blks-10-13 {
    background-color: rgb(90, 46, 131);
    height: 50px;
    width: 350px;
    border: 1px solid;
    


}

.blks-10-14 {
    background-color: rgb(90, 46, 131);
    height: 100px;
    width: 350px;
    border: 1px solid;
    


}

.blks-10-15 {
    background-color: rgb(90, 46, 131);
    height: 50px;
    width: 350px;
    border: 1px solid;
    


}



/* 11 */

.page-11 {

    padding-top: 100px;
}


.hed-11 {


    text-align: center;
}

.hed-11>h1 {

    color: rgb(68, 15, 117);
    font-size: 30px;
}

.major-11 {

    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 50px;
    margin: 0 200px;

}

.rt-11>details>summary {

    color: rgb(77, 13, 137);
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.rt-11>details>summary::after {
    content: '+';
    font-size: 20px;
    font-weight: bold;
}



.rt-11>details[open]>summary::after {
    content: '-';
    font-size: 20px;
    font-weight: bold;
}

.rt-11 hr {
    margin: 20px 0;
}

.rt-11 {

    /* border: 1px solid; */
    padding-top: 50px;

    flex: 2;
}

.lt-11 {

    /* border: 1px solid; */
    padding-top: 40px;
    flex: 1;
}

/* end */


   /* 12matha */



   .round-12{

    padding
   }

   .parent-12{

    padding-right: 500px;
   }

   .img-12{

     background-image: url('https://thefuturalabs.com/wp-content/themes/Netstager_Creative_Suite-3.0/images/footer-bg.svg');
     background-repeat: no-repeat;
     width: 1600px;
     /* height: px; */
     
    
   }

   .maj-12{

    display: flex;
    justify-content: center;
    /* gap: 50px; */
    padding-top: 60px;

   }

   .mj-12{
    
    /* border: 1px solid; */
    height: 200px;
    width: 500px;
    color: white;
    
   }

   .down-12{

    display: flex;
    justify-content: center;
    /* gap: 0px; */
    
   } 

   .dwn-12{
 
    /* border: 1px solid; */
    height: 200px;
    width: 250px;
    color: white;
    padding-top: 10px;
    
    
   }